<script setup>
import { mdiBallotOutline, mdiAccount, mdiMail, mdiGithub } from "@mdi/js";
import LayoutAuthenticated from "@/layouts/LayoutAuthenticated.vue";
import SectionMain from "@/components/SectionMain.vue";
import CardBox from "@/components/CardBox.vue";
import SectionTitleLineWithButton from "@/components/SectionTitleLineWithButton.vue";
import FormField from "@/components/FormField.vue";
import FormControl from "@/components/FormControl.vue";
import { useGeneralStore } from "@/stores/general.js";
import { onBeforeMount, computed } from "vue";

onBeforeMount(() => {
  useGeneralStore().listProduct();
});

const selectGeneral = useGeneralStore();
const selectOptiosListProduct = computed(() => selectGeneral.slistProduct);

// const selectOptions = [
//   { id: 1, label: "Business development" },
//   { id: 2, label: "Marketing" },
//   { id: 3, label: "Sales" },
// ];

</script>

<template>
  <LayoutAuthenticated>
    <SectionMain>
      <SectionTitleLineWithButton
        :icon="mdiBallotOutline"
        title="Datos del Sorteo"
      >
      </SectionTitleLineWithButton>
      <CardBox>
          <FormField>
            <FormField label="Nombre del producto">
              <FormControl :options="selectOptiosListProduct" />
            </FormField>
            <FormField label="Cantidad de sorteos diarios">
              <FormControl />
            </FormField>
          </FormField>
          <FormField>
              <FormField label="Cantidad de sorteos diarios">
                <FormControl />
            </FormField>
          </FormField>
        </CardBox>
    </SectionMain>
  </LayoutAuthenticated>
</template>
