<script setup>
import { mdiBallotOutline, mdiAccount, mdiMail, mdiGithub } from "@mdi/js";
import LayoutAuthenticated from "@/layouts/LayoutAuthenticated.vue";
import SectionMain from "@/components/SectionMain.vue";
import CardBox from "@/components/CardBox.vue";
import SectionTitleLineWithButton from "@/components/SectionTitleLineWithButton.vue";
import BaseButton from "@/components/BaseButton.vue";
import $ from "jquery";
import { useSorteoStore } from "@/stores/sorteo.js";

const resultados = () => {
  useSorteoStore().resultSorteo();
  setTimeout(function () {
    $(".content").fadeOut(1500);
  }, 1000);

  setTimeout(function () {
    $(".content2").fadeIn(1500).css("display", "grid");
  }, 2000);

  setTimeout(function () {
    $(".content2").fadeOut(1500);
  }, 6000);

  setTimeout(function () {
    $(".content3").fadeIn(1500).css("display", "grid");
  }, 7000);
};

const arrayBombos = [1, 2, 3, 4, 5];
</script>
<template>
  <LayoutAuthenticated>
    <SectionMain>
      <SectionTitleLineWithButton :icon="mdiBallotOutline" title="Sorteo" main>
      </SectionTitleLineWithButton>

      <div
        v-for="arrayBombo in arrayBombos"
        :key="arrayBombo"
        class="inline-block px-2 py-1 rounded-sm mr-2 text-sm bg-gray-100 dark:bg-slate-700"
      >
        <span>hola</span>
      </div>

      <CardBox>
        <div class="grid grid-cols-3 content row">
          <div class="img_ border_img"></div>
          <div class="img_ border_img"></div>
          <div class="img_ border_img"></div>
        </div>
        <div class="grid grid-cols-3 content2 row">
          <div class="img_numeros border_img"></div>
          <div class="img_signos border_img"></div>
          <div class="img_numeros border_img"></div>
        </div>
        <div class="grid grid-cols-3 content3 row">
          <div class="cosas border_img">333</div>
          <div class="cosas border_img">555</div>
          <div class="cosas border_img">aries</div>
        </div>
        <BaseButton
          type="submit"
          color="info"
          label="Registrar"
          @click="resultados()"
        />
      </CardBox>
    </SectionMain>
  </LayoutAuthenticated>
</template>
<style>
.cosas {
  width: 180px;
  height: 200px;
}
.img_numeros {
  background: url("@/assets/numeros.gif");
  width: 180px;
  height: 200px;
  background-repeat: no-repeat;
}
.img_signos {
  background: url("@/assets/signos.gif");
  width: 180px;
  height: 200px;
  background-repeat: no-repeat;
}
.img_ {
  background: url("@/assets/005.jpg");
  width: 180px;
  height: 200px;
  background-repeat: no-repeat;
}
.content2 {
  display: none;
}
.content3 {
  display: none;
}
.border_img {
  border: 2px solid blue;
  border-radius: 15px;

  font-size: 5rem;
  font-weight: bold;
  color: blue;
}
</style>
