<script setup>
import { computed, ref } from "vue";
import { useMainStore } from "@/stores/main";
import { mdiEye, mdiTrashCan } from "@mdi/js";
import CardBoxModal from "@/components/CardBoxModal.vue";
import TableCheckboxCell from "@/components/TableCheckboxCell.vue";
import BaseLevel from "@/components/BaseLevel.vue";
import BaseButtons from "@/components/BaseButtons.vue";
import BaseButton from "@/components/BaseButton.vue";
import UserAvatar from "@/components/UserAvatar.vue";

defineProps({
  checkable: Boolean,
});

const mainStore = useMainStore();

// const items = computed(() => mainStore.clients);
const items = [
    {id: 1, name: '07:00 am'},
    {id: 2, name: '08:00 am'},
    {id: 3, name: '09:00 am'},
    {id: 4, name: '10:00 am'},
    {id: 5, name: '11:00 am'},
    {id: 6, name: '12:00 m'},
    {id: 8, name: '1:00 pm'},
    {id: 9, name: '2:00 pm'},
    {id: 10, name: '3:00 pm'},
    {id: 11, name: '4:00 pm'},
    {id: 12, name: '5:00 pm'},
    {id: 13, name: '6:00 pm'},
    {id: 14, name: '7:00 pm'},
    {id: 15, name: '8:00 pm'},
]
console.log("items",items)
const isModalActive = ref(false);

const isModalDangerActive = ref(false);

const perPage = ref(5);

const currentPage = ref(0);

const checkedRows = ref([]);

const itemsPaginated = computed(() =>
//   items.value.slice(
//     perPage.value * currentPage.value,
//     perPage.value * (currentPage.value + 1)
//   )
items
);

const numPages = computed(() => Math.ceil(items.value.length / perPage.value));

const currentPageHuman = computed(() => currentPage.value + 1);

const pagesList = computed(() => {
  const pagesList = [];

  for (let i = 0; i < numPages.value; i++) {
    pagesList.push(i);
  }

  return pagesList;
});

const remove = (arr, cb) => {
  const newArr = [];

  arr.forEach((item) => {
    if (!cb(item)) {
      newArr.push(item);
    }
  });

  return newArr;
};

const checked = (isChecked, client) => {
  if (isChecked) {
    checkedRows.value.push(client);
  } else {
    checkedRows.value = remove(
      checkedRows.value,
      (row) => row.id === client.id
    );
  }
};
</script>

<template>
  <div v-if="checkedRows.length" class="p-3 bg-gray-100/50 dark:bg-slate-800">
    <span
      v-for="checkedRow in checkedRows"
      :key="checkedRow.id"
      class="inline-block px-2 py-1 rounded-sm mr-2 text-sm bg-gray-100 dark:bg-slate-700"
    >
      {{ checkedRow }}
    </span>
  </div>

  <table>
    <thead>
      <tr>
        <th />
        <th>Lunes</th>
        <th>Martes</th>
        <th>Miercoles</th>
        <th>Jueves</th>
        <th>Viernes</th>
        <th>Sábado</th>
        <th>Domingo</th>
        <th />
      </tr>
    </thead>
    <tbody>
      <tr v-for="client in itemsPaginated" :key="client.id">
         <td data-label="Name">
          {{ client.name }}
        </td>
        <td data-label="Lunes">
          <TableCheckboxCell
          v-if="checkable"
          @checked="checked($event, client, 'lunes')"
        />
        </td>
        <td data-label="Martes">
          <TableCheckboxCell
          v-if="checkable"
          @checked="checked($event, client)"
        />
        </td>
        <td data-label="Miercoles">
          <TableCheckboxCell
          v-if="checkable"
          @checked="checked($event, client)"
        />
        </td>
        <td data-label="Jueves">
           <TableCheckboxCell
          v-if="checkable"
          @checked="checked($event, client)"
        />
        </td>
        <td data-label="Viernes">
          <TableCheckboxCell
          v-if="checkable"
          @checked="checked($event, client)"
        />
         </td>
        <td data-label="Sábado">
          <TableCheckboxCell
          v-if="checkable"
          @checked="checked($event, client)"
        />
         </td>
        <td data-label="Domingo">
          <TableCheckboxCell
          v-if="checkable"
          @checked="checked($event, client)"
        />
        </td>
      </tr>
    </tbody>
  </table>
</template>
